##### python #####
python.runPoetryPreStep=true
python.runPipenvPreStep=true
python.resolveSetupPyFiles=true
python.resolveHierarchyTree=true
python.resolveDependencies=true
python.pipenvDevDependencies=true
python.installVirtualenv=true
python.ignoreSourceFiles=true
python.ignorePipInstallErrors=true
python.IgnorePipenvInstallErrors=true
#python.resolvePipEditablePackages=false
#python.resolveGlobalPackages=false
#python.requirementsFileIncludes=
#python.pipPath=pip
python.path=python3.9
#python.localPackagePathsToInstall=
#python.indexUrl=
#python.includePoetryDevDependencies=false

python.invokePipAsModule=true
